.app{
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.homepage-con{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.right-con{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  gap: 2rem;
}
.homepage-main-heading{
  font-size: 3rem;
  font-weight: bold;
}
.homepage-para{
  font-size: 2rem;
}
.homepage-btn-con{
  display: flex;
  gap: 2em;
  align-items: center;
}
.black-btn{
  background-color: #0074CC;
  color: white;
}
.white-btn{
  background-color: white;
  color:black;
  border: 1px solid gray;
}
.home-btn{
  font-size: 1.3rem;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 400ms;
}
.home-btn:hover{
  transform: scale(1.02);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left-con{
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.nav-con{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.tag{
  all:unset;
  cursor: pointer;
}
.active{
  color: #0074CC;
}
.logo-con{
  all: unset;
  display: flex;
  align-items: center;  
  cursor: pointer;
}
.logo-img{
  width: 40%;
}
.logo-con div{
  font-size: 2rem;
  font-family: 'Playpen Sans', cursive;
  font-weight: 500;
}
.tags-con{
  display: flex;
  gap: 1.5rem;
  font-size: 1.4rem;
  font-family: 'Playpen Sans', cursive;
  align-items: center;
}
.tags-con div{
  cursor: pointer;
}
.auth-con{
  display: flex;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  gap:1rem;
  font-size: 1.3rem;
  align-content: center;
}
.auth-btn{
  all: unset;
  background-color: #0074CC;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-nav{
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0074CC;
}
.profile-nav-active{
  color: rgb(244, 44, 44);
}
.login-con{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem;
  
}
.login-left-div{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  flex-direction: column;
  padding: 2rem;
  width: auto;
  justify-content: center;
  gap: 2rem;
  width: 50%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.277);;
}
.login-heading{
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1.5rem;
}
.login-email{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.5rem;
  width: 60%;
}
.login-email input{
  all: unset;
  padding: 0.4rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
}
.login-email input::placeholder{
  color: rgb(18, 17, 17);
  opacity: 0.8;
}
.submit-btn{
  all: unset;
  padding: 0.4rem 0.7rem;
  background-color: rgb(78, 56, 243);
  color: white;
  font-size: 1.3rem;
  border: 1px solid rgb(39, 39, 71);
  border-radius: 5px 7px 5px 7px;
  cursor: pointer;
}
.submit-btn:hover{
  background-color: #0074CC;
}
.login-logo{
  position: absolute;
  width: 5%;
  top:10.5rem;
  z-index: 2;
}
.signup-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
  position: relative;
}
.signup-con{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  flex-direction: column;
  padding: 2rem;
  width: auto;
  justify-content: center;
  gap: 2rem;
  width: 65%;
  align-items:center;
  background-color: rgba(0, 0, 0, 0.277);;
}
.signup-name{
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.signup-name label{
  font-size: 1.2rem;
}
.signup-name input{
  all: unset;
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
}
.sign-email{
  display: flex;
  gap: 4rem;
  width: 100%;
  align-items: center;
}
.sign-email label{
  font-size: 1.2rem;
}
.sign-email input{
  all: unset;
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
  width: 60%;
}
.radio-con{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.radio-con div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  background-color: rgb(149, 158, 239);
  padding: 0.5rem 0.7rem;
  border-radius:5px;
  color: rgb(29, 1, 1);
}
.otp-con{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.otp-con label{
  align-self: flex-start;
  font-size: 1.4rem;
}
.otp-con input{
  all: unset;
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
}
.signup-logo{
  width: 5%;
  position: absolute; 
  top: 0rem;
  color: #0074CC;
}


/* Discover page styles */
.discover-con{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.discover-heading{
  font-size: 2rem;
  font-weight: 400;
}
.discover{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.applicationcard-con{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.applicationcard{
  background-color: rgba(0, 0, 0, 0.277);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 85%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  transition-duration: 400ms;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.applicationcard:hover{
  transform: scale(1.008);
  border-radius: 10px;
}
.app-main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-main-title{
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.app-main-heading{
  font-size: 1.8rem;
  font-weight: 600;
}
.app-main-status{
  font-size: 1rem;
}
.app-second{
  display:flex;
  gap: 5px;
  margin-top: 8px;
  font-size: 1.2rem;
  width: 100%;
}
.app-salary{
  margin-top: 8px;
  font-size: 1.1rem;
  width: 100% ;
}

/* Listing Page starts Here */
.listing-con{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listing-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.listing-title p{
  font-size: 1.6rem;
  font-weight: 500;
}
.listing-create{
  display: flex;
  align-content: center;
  background-color: rgb(78, 56, 243);
  padding: 0.5rem 1rem;
  color: white;
  gap: 2px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.listing-create-link{
  all:unset;
}

/* create Listing  starts Here */
.cl-con{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cl{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.277);
}

.first-div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
}
.first-div div{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.first-div div input{
  all: unset;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
}
.conditions{
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}
.conditions input{
  all: unset;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
  width: 80%;

}
.jd{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 0.4rem;
  width: 100%;
}
.jd textarea{
  all: unset;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid rgb(82, 199, 223) 2px;
  color: rgb(18, 17, 17);
  background-color: rgb(225, 239, 248);
  width: 94%;
  height: 200px;

}
.notfound-con{
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: center;
}
.notfound{
  margin-top: -10rem;
  width: 60%;
}
.comman-error{
  width: 100%;
  text-align: center;
}
.side-bar-con{
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(to top, #202020, #1A1A1A);
  left: 0;
  padding: 2vw;
  padding-left: 4vw;
  padding-right: 2vw;
  display: flex;
  height: 89vh;
  top: 11vh;
}
.side-bar{
  width: 100%;
}
.sidetags-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  font-size: 1.4vw;
}
.sidetag{
  all: unset;
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  align-items: center;
  gap: 1vw;
  background-color: rgb(244,244,246);
  padding: 0.5rem;
  border-radius: 7px;
  color: black;
}
.activetag{
  background-color: #91c4e3;
}
.right-wrapper{
  margin-left:9.2vw;
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
}
.app-main-con{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: flex-start;
}
.app-main-tit{
  display: flex;
  align-items: center;
  gap: 0.4vw;
}
.app-main-tit div{
  font-size:2rem;
  font-weight: 500;
}
.app-main-tit p{
  font-size: 1.2rem;
  align-self: flex-end;
}
.app-company{
  font-size: 1.5rem;
}
.app-conditions{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-size: 1.2rem;
}
.app-conditions div{
  display: flex;
  align-items: center;
  gap: 0.4vw;
  font-size: 1.2rem;
}
.jd{
  font-size: 1.3rem;
}
.app-extrainfo-con{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 1vw;
  padding: 1vw;
  gap: 2vh;
  font-size: 1.2rem;
}
.candidatecard-con{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 2vh;
  width: 100%;
}
.candidate-card{
  display: flex;
  width: 100%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 1vw;
  gap: 1vh;
  font-size: 1vw;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  
}
.delete-con{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(231, 98, 98);
  padding: 2vw;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 1.2rem;
}
.profile-wrapper{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.277);
  padding: 2vw;
  border-radius: 2px;
}
.profile-con{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
  color: white;
}
.profile-name div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  font-size: 2vw;
  font-family: 'Playpen Sans', cursive;
}
.profile-div{
  font-size: 1.2vw;
}
.unselect div{
  opacity: 0.8;
}
.btn{
  padding: 0.5vw;
  background-color: #91c4e3;
  margin-bottom: 0.2vw;
  text-align: center;
  border-radius: 2px;
}
.message-wrapper{
  width: 100%;
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  justify-content: flex-start;
  color:black;
}
.message-left{
  width: 30%;
  background-color: aliceblue;
  padding: 1vw;
  height: 80vh;
}
.chats-con{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  width: 100%;
}
.chat{
  display: flex;
  width: 100%;
  font-size: 1.4vw;
  align-items: center;
  border-bottom: 1px solid rgb(70, 69, 69) ;
  padding: 0.5vw;
  gap: 1vw;
  cursor: pointer;
}
.message-right{
  background: rgb(242,247,249);
background: linear-gradient(243deg, rgba(242,247,249,1) 8%, rgba(189,224,245,1) 37%, rgba(199,216,246,1) 59%, rgba(251,251,251,1) 86%);
  width: 68%;
  height: 80vh;
  display: flex;
  position: relative;
}
.viewmessage-con{
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  gap: 2vh;
 
}
.message-con{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2vh;

  
}
.message{
  background-color: #edf2f5;
  padding: 1vw 1vh;
  border-radius: 5px;
  font-size: 1.1vw;
  
}
.sended{
  align-self: flex-start;
}
.select{
  text-align: center;
  font-size: 1.2vw;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.message-input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
.message-input input{
  all: unset;
  width: 100%;
  padding: 0.8vh 1vw;
  font-size: 1.1vw;
  border-radius: 5px;
  border: 1px solid black;
}
.icon{
  font-size: 2vw;
  cursor: pointer;
}
.profile-image-con{
  width: 3.8vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4vw;
}
.profile-image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.error-con{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;  
}
.oops{
  font-size: 15vw;
  background-image: url("https://images.news18.com/ibnlive/uploads/2016/05/Space.jpg?impolicy=website&width=360&height=240");
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-family: 'Comfortaa', sans-serif;
}
.error-message{
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
}

.hero-con{
  width: 100%;
  margin-top: 1vh;
}
.top-div{
  width: 100%;
  display: flex;

}
.box{
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(221, 154, 188);
  border-bottom: 2px solid rgb(155, 188, 225);
  border-right: 5px solid rgb(227, 99, 82);
  height: 20vh;
  font-size: 1.5rem;
  box-shadow: 0 0 10px rgba(213, 227, 161, 0.8);
}
#box3 {
  border-right: none;
  color: #3366cc; /* Blue for general text */
}
#box2 {
  color: #dc3545; /* Red for important information */
}
#box1 {
  color: #28a745; /* Green for positive trends */
}
.bottom-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-top: none;
}
#box22{
  border-top: none;
  border-right: none;
  color: #065c2d ;
}
#box21{
  border-top: none;
  color: #9933cc ;
}
/* Add these styles to your existing stylesheet or create a new one */

.goals-con {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  margin-bottom: 2rem;
  height: 50vh;
}

.goal {
  font-size: 1.5em; /* Adjust font size as needed */
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.goal.animate {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(20)px;
}





/* Loader */
.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #5ae0f2 transparent rgb(127, 184, 223) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-div{
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Source Code Pro', monospace;
}
.register-wrapper{
  width: 100%;
  padding: 2vh 2vw;
  background-color: #1A1A1A;
}
.no-register-con{
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
  padding: 2vh 2vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.no-register-con p{
  font-size: 1.4rem;
}